* {
  margin: 0;
   padding: 0;
}

body {
  margin-top: -20px;
  padding: 20px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.top {
  background-color: rgba(245, 245, 245, 0.719);
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
  height: 40px;
  justify-content: space-between;
  margin-left: -20px;
  padding: 5px;
}

.top_right {
  display: flex;
  gap: 20px;
  margin: 20px;
}


a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: red;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Portfolio{
    font-family: sans-serif;
    margin: 10px;
}
.name {
    font-size: 50px;
}

.vishwa {
    color: red;
}
.start{
  margin: 20px;
}
.details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 120px;
    margin-left: -20px;
}

.details1 {
    flex-basis: 350px;
    flex-grow: 1;
    text-align: justify;
}

.details2{
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.details2 img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}
.detail3img img:hover  {
    transform: scale(1.2);
}

.detail3 {
    text-align: center;
    margin-top: 40px;
}

.detail3img {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.detail3img img:hover  {
    transform: scale(1.2);
}
.about-section {
  background-color: black;
  color: white;
  padding: 40px;
  margin-top: 80px;
}

.section-title {
  font-size: 40px;
  margin: 0;
}

.sub-title {
  color: rgb(255, 60, 120);
  margin-top: -5px;
  margin-bottom: 25px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about-text {
  width: 100%;
}

.about-text h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 20px;
  line-height: 25px;
}

.skills-section {
  /* display: flex; */
  background-color: #111;
  color: white;
  padding: 80px 60px;
  flex-wrap: wrap;
}

.skills-title {
  display: block;
  font-size: 40px;
  margin-bottom: 25px;
  position: relative;
}

.par{
  display: block;
  font-size: 26px;
  color: #ff004f;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.skills-text {
    flex-grow: 1;
    flex-basis: 500px;
    text-align: left;
    min-width: 300px;
}

.skills-text h3 {
    margin-bottom: 20px;
}

.skills-text p {
    line-height: 1.6;
    font-size: 18px;
}

.skills-icons {
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    min-width: 300px;
}

.skills-icons img {
    width: 70px;
    height: 70px;
}
.skills-icons img {
    width: 80px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}

.skills-icons img:hover  {
    transform: scale(1.2);
}
.projects {
  text-align: center;
  padding: 60px 20px;
}

.heading {
  font-size: 32px;
  color: rgb(255, 245, 245);
}

.sub-heading {
  color: #d81b60;
  margin-top: -10px;
}
.heading2{
  color: #000000;
}

.project-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.project-card {
  background-color: #1e1e1e;
  color: white;
  border-radius: 15px;
  width: 280px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.project-card:hover {
  transform: scale(1.05);
  filter: brightness(1.2) drop-shadow(0 0 12px #424343);
}


.project-img {
  border: 2px solid #d81b60;
  border-radius: 10px;
  padding: 5px;
  background-color: #000;
}

.project-img img {
  width: 100%;
  border-radius: 8px;
  height: 300px;
}

.project-img h3 {
  color: rgb(255, 0, 0);
  margin: 8px 0;
}
.contact {
  padding: 70px 20px;
  background: #111;
  text-align: center;
}

.heading {
  font-size: 32px;
  color: white;
}

.sub-heading {
  color: #e91e63;
  margin-top: -10px;
}

.contact-container {
  color: white;  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  text-align: left;
}

.contact-info {
  flex-grow: 1;
  min-width: 300px;
  max-width: 400px;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info p {
  color: #ccc;
}

.info-item {
  display: flex;
  align-items: center;
  margin: 15px 0;
}


.info-item h4 {
  margin: 0;
  color: #fff;
}


.contact-form {
  flex-grow: 1;
  min-width: 300px;
  max-width: 450px;
  background: none;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.input-box input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.btn {
  background: #e91e63;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
}

.btn:hover {
  background: #c2185b;
}